<template>
  <v-card flat>
    <v-card-text>
      <p>{{ modelsSummary }}</p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ModelPicker',
  props: {
    modelsSummary: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      // modelA: [],
      // modelB: [],
      modelA: undefined,
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    filesOk() {
      if (this.modelA && this.modelB) {
        return true
      } else {
        return false
      }
    },
    
  },
}
</script>

<style></style>
