<template>
  <v-card flat>
    <v-card-text>
      <h3>Please pick valid sbml models to compare</h3>
      <v-file-input
        v-model="modelA"
        accept=".xml,.sbml,.jpg"
        label="Model A"
        show-size
      ></v-file-input>

      <v-file-input
        v-model="modelB"
        accept=".xml,.sbml,.jpg"
        label="Model B"
        show-size
      ></v-file-input>
    </v-card-text>
    <v-card-text><h3>Comparison Settings</h3></v-card-text>
    <v-card-text>
      <v-row>
        <v-col class="text-center">
          <v-card flat color="transparent">
            <v-card-subtitle>Metabolites</v-card-subtitle>
            <v-card-text class="pa-0"
              ><v-switch
                v-model="phonetic"
                label="Phonetic-like preprocessing"
              ></v-switch
            ></v-card-text>
            <v-card-text class="pa-0"
              ><v-slider
                v-model="tolerate_h"
                thumb-label="always"
                label="Tolerate different charge (H atoms)"
                min="0"
                max="6"
                ticks="always"
                tick-size="4"
              ></v-slider
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-switch
                v-model="ignore_compartments"
                label="Ignore compartments"
              ></v-switch
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-switch v-model="check_id" label="Compare only IDs"></v-switch
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-slider
                v-model="alpha"
                thumb-label="always"
                label="Similarity impact"
                min="0"
                max="2"
                ticks="always"
                tick-size="4"
                step="0.1"
              ></v-slider
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-slider
                v-model="beta"
                thumb-label="always"
                label="Edit distance impact"
                min="0"
                max="2"
                ticks="always"
                tick-size="4"
                step="0.1"
              ></v-slider
            ></v-card-text>
          </v-card>
        </v-col>
        <v-col class="text-center">
          <v-card flat color="transparent">
            <v-card-subtitle>Reactions</v-card-subtitle>
            <v-subheader>Missing metabolites tolerance</v-subheader>

            <v-card-text class="pa-0"
              ><v-slider
                v-model="low_limit"
                thumb-label="always"
                label="Reaction length lower limit"
                min="0"
                max="6"
                ticks="always"
                tick-size="4"
              ></v-slider
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-slider
                v-model="left_limit"
                thumb-label="always"
                label="Left side"
                min="0"
                max="3"
                ticks="always"
                tick-size="4"
              ></v-slider
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-slider
                v-model="right_limit"
                thumb-label="always"
                label="Right side"
                min="0"
                max="3"
                ticks="always"
                tick-size="4"
              ></v-slider
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-switch v-model="leftOrRight" label="Left OR Right"></v-switch
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-switch v-model="onlyMissing" label="Only Missing"></v-switch
            ></v-card-text>

            <v-subheader>Filtering settings</v-subheader>

            <v-card-text class="pa-0"
              ><v-switch
                v-model="greedyMatching"
                label="Greedy matching"
              ></v-switch
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-switch v-model="filterByEC" label="Filter by E.C."></v-switch
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-switch
                v-model="allReversible"
                label="Treat all like reversible"
              ></v-switch
            ></v-card-text>

            <v-card-text class="pa-0"
              ><v-slider
                v-model="reactantsThreshold"
                thumb-label="always"
                label="Matching reactants threshold (%)"
                min="0"
                max="99"
                ticks="always"
                step="1"
                color="green lighten-1"
                track-color="red"
                thumb-color="blue darken-2"
              ></v-slider
            ></v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="text-center">
          <v-btn
            elevation="2"
            :loading="modelsUploading"
            :disabled="!filesOk()"
            x-large
            @click="packFiles()"
          >
            <template v-if="filesOk()">Process</template
            ><template v-else>Pick your models</template>
          </v-btn>
        </v-col>
      </v-row>
      <p>
        You can get a pair of sample sbml files from
        <a
          target="_blank"
          href="https://gitlab.com/mrtmednis/ModeRator/-/tree/master/sample_reconstructions"
          >ModeRator2 sample reconstructions</a
        >.
      </p>
      <p>&nbsp;</p>
      <v-divider></v-divider>
      <p>&nbsp;</p>
      <v-alert text type="info"
        >This software is available thanks to EU financed project. The source
        code can be obtained
        <a
          href="https://gitlab.com/moderator-the-model-comparator"
          target="_blank"
          >here</a
        >.</v-alert
      >
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ModelPicker',
  props: {
    modelsUploading: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      // modelA: [],
      // modelB: [],
      modelA: undefined,
      modelB: undefined,
      phonetic: true,
      tolerate_h: 3,
      ignore_compartments: false,
      check_id: false,
      alpha: 1.0,
      beta: 1.0,
      low_limit: 1,
      left_limit: 0,
      right_limit: 0,
      leftOrRight: true,
      onlyMissing: true,
      greedyMatching: true,
      filterByEC: false,
      allReversible: false,
      reactantsThreshold: 51,
      files: [
        {
          code: false,
          name: '',
          file: [],
          started: false,
          ok: false,
          hashCode: null,
        },
      ],
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    filesOk() {
      if (this.modelA && this.modelB) {
        return true
      } else {
        return false
      }
    },
    packFiles() {
      const modelA = this.getBase64(this.modelA)
      const modelB = this.getBase64(this.modelB)

      Promise.all([modelA, modelB]).then((values) => {
        this.$emit('upload-models', {
          model1: values[0],
          model2: values[1],
          settings: {
            phonetic: this.phonetic,
            tolerate_h: this.tolerate_h,
            ignore_compartments: this.ignore_compartments,
            check_id: this.check_id,
            alpha: this.alpha,
            beta: this.beta,
            low_limit: this.low_limit,
            left_limit: this.left_limit,
            right_limit: this.right_limit,
            left_or_right: this.leftOrRight,
            only_missing: this.onlyMissing,
            greedy_matching: this.greedyMatching,
            filter_by_ec: this.filterByEC,
            all_reversible: this.allReversible,
            reactants_threshold: this.reactantsThreshold,
          },
        })
        // console.log(values[0])
        // console.log('values[0]')
        // console.log(values[1])
        // console.log('values[1]')
      })
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => {
          let encoded = reader.result.toString().replace(/^data:(.*,)?/, '')
          if (encoded.length % 4 > 0) {
            encoded += '='.repeat(4 - (encoded.length % 4))
          }
          resolve(encoded)
        }
        reader.onerror = (error) => reject(error)
      })
    },
  },
}
</script>

<style></style>
