<template>
  <v-row>
    <v-col>
      <v-card>
        <v-tabs v-model="tab" centered icons-and-text>
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-models">
            Models
            <v-icon>mdi-file-multiple</v-icon>
          </v-tab>

          <v-tab href="#tab-compartments">
            Compartments
            <v-icon>mdi-checkbox-multiple-blank-circle-outline</v-icon>
          </v-tab>

          <v-tab href="#tab-metabolites">
            Metabolites
            <v-icon>mdi-chemical-weapon</v-icon>
          </v-tab>

          <v-tab href="#tab-reactions">
            Reactions
            <v-icon>mdi-arrow-left-right</v-icon>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-models">
            <ModelPicker :modelsUploading="modelsUploading" @upload-models="uploadModels"/>
          </v-tab-item>

          <v-tab-item value="tab-compartments">
            <v-card flat>
              <v-card-text
                >Compartments
                <v-skeleton-loader
                  v-bind="attrs"
                  type="date-picker"
                ></v-skeleton-loader>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item value="tab-metabolites">
            <v-card flat>
              <v-card-text
                >Metabolites
                <v-skeleton-loader
                  v-bind="attrs"
                  type="list-item-three-line, actions, divider, list-item-avatar"
                ></v-skeleton-loader
              ></v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item value="tab-reactions">
            <v-card flat>
              <v-card-text
                >Reactions
                <v-skeleton-loader
                  v-bind="attrs"
                  type="list-item-avatar, divider, list-item-three-line, actions"
                ></v-skeleton-loader
              ></v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data() {
    return {
      tab: null,
      modelsUploading: false,
      text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      attrs: {
        class: 'mb-6',
        boilerplate: true,
        elevation: 0,
      },
    }
  },
  methods: {
    filesOk() {
      if (this.modelA && this.modelB) {
        return true
      } else {
        return false
      }
    },
    uploadModels(modelPack) {
      this.modelsUploading = true;
      // const thisCopy = this;
      // const url = `/e/${localStorage.getItem("ltecid")}/add_one`;
      const url = "/upload"
      this.createEventLoading = true;
      this.$axios
        .post(url, modelPack)
        .then((response) => {
          console.log(response.data);
          this.modelsUploading = false;
        })
        .catch((error) => console.log(error));
    },
  },
}
</script>
