<template>
  <v-row>
    <v-col>
      <v-card>
        <v-tabs v-model="tab" centered icons-and-text>
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-models">
            Models
            <v-icon>mdi-file-multiple</v-icon>
          </v-tab>

          <v-tab href="#tab-compartments">
            Compartments
            <v-icon>mdi-checkbox-multiple-blank-circle-outline</v-icon>
          </v-tab>

          <v-tab href="#tab-metabolites">
            Metabolites
            <v-icon>mdi-chemical-weapon</v-icon>
          </v-tab>

          <v-tab href="#tab-reactions">
            Reactions
            <v-icon>mdi-arrow-left-right</v-icon>
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-models">
            <v-scroll-y-transition>
              <v-img
                v-show="show_logo"
                src="moderator_logo_inksc.svg"
                @click="show_logo = false"
              ></v-img>
            </v-scroll-y-transition>

            <ModelPicker
              :modelsUploading="modelsUploading"
              @upload-models="uploadModels"
            />
          </v-tab-item>

          <v-tab-item value="tab-compartments">
            <compartments :modelsSummary="modelsSummary" />
            <v-card flat>
              <v-card-text
                >Compartments

                <v-skeleton-loader
                  v-bind="attrs"
                  type="date-picker"
                ></v-skeleton-loader>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item value="tab-metabolites">
            <v-card flat>
              <v-card-text
                >Metabolites
                <v-skeleton-loader
                  v-bind="attrs"
                  type="list-item-three-line, actions, divider, list-item-avatar"
                ></v-skeleton-loader
              ></v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item value="tab-reactions">
            <v-card flat>
              <v-card-text
                >Reactions
                <v-skeleton-loader
                  v-bind="attrs"
                  type="list-item-avatar, divider, list-item-three-line, actions"
                ></v-skeleton-loader
              ></v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data() {
    return {
      tab: null,
      show_logo: true,
      modelsUploading: false,
      modelsSummary: undefined,
      attrs: {
        class: 'mb-6',
        boilerplate: true,
        elevation: 0,
      },
    }
  },
  methods: {
    filesOk() {
      if (this.modelA && this.modelB) {
        return true
      } else {
        return false
      }
    },
    uploadModels(modelPack) {
      this.modelsUploading = true
      const url = '/upload'
      this.createEventLoading = true
      this.$axios
        .post(url, modelPack)
        .then((response) => {
          console.log(response.data)
          this.modelsUploading = false
          this.modelsSummary = response.data
          this.tab = 'tab-compartments'
        })
        .catch((error) => {
          console.log(error)
          this.modelsUploading = false
        })
    },
  },
}
</script>
